{% extends 'layout.html' %}

{% block title %}
    Blog | Titulo post
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ post[1] }}</h1>
            <div class="mt-4">
                <span class="text-muted">{{ post[3] }}</span>
            </div>
            <div class="mt-4">
                <p>{{ post[2]|safe }}</p>
            </div>
            <hr>
            <div class="mb-5">
                <div class="comments-container">
                    <h1>Comentarios</h1>

                    <ul id="comments-list" class="comments-list">
                        {% for comment in coments %}
                        <li>
                            <div class="comment-main-level">
                                <!-- Avatar -->
                                <div class="comment-avatar"><img
                                        src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                        alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author"><a
                                                href="#">{{ users[loop.index - 1][2] }}</a></h6>
                                    </div>
                                    <div class="comment-content">{{ comment[1] }}</div>
                                </div>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
                <h4>Añadir comentario</h4>
                <form action="{{ url_for('commentPost') }}" method="POST" class="form-horizontal" role="form">
                    <input type="hidden" name="user_id" value="{{ session["id"] }}">
                    <input type="hidden" name="post_id" value="{{ post[0] }}">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
                    </div>
                    <input type="submit" class="btn btn-info" value="Comentar">
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Ultimos post</h3>
            <div class="card mb-3 mt-4" style="max-height: 340px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> <a href="#" class="card-link">Card title</a></h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mt-4" style="max-height: 340px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="card-link">Card title</a></h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mt-4" style="max-height: 340px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="card-link">Card title</a></h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mt-4" style="max-height: 340px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="card-link">Card title</a></h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}