<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="shortcut icon" href="../../static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/blog.css">
    <title>Blogs</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html"> <i class="fas fa-home"></i> Inicio </a>
                </li>
            </ul>
            <!--             <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="auth/login.html"> <i class="fas fa-sign-in-alt"></i> Ingresar </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="auth/register.html"><i class="fas fa-user-plus"></i> Registrarse</a>
                </li>
            </ul> -->
            <form class="form-inline mr-5 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Título post">
                <button class="btn btn-outline-success my-sm-0" type="submit">Buscar</button>
            </form>
            <div class="btn-group">
                <img src="../../static/img/imagen1.webp" class="img-circle" width="50rem" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="../profile/edit.html"> <i class="fa fa-user"></i> Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../auth/login.html"> <i class="fa fa-sign-out-alt"></i> Salir</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1>Titulo post</h1>
                <div class="mt-4">
                    <span class="text-muted">2020/05/11</span>
                </div>
                <div class="mt-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget orci in justo cursus
                        tincidunt eu ut sapien. Duis sed dolor in ante bibendum faucibus. Sed fermentum nibh risus, eu
                        congue nisl viverra id. Nunc bibendum dui mi. Suspendisse facilisis sollicitudin elit, vitae
                        feugiat massa maximus gravida. Vivamus nisi tortor, sollicitudin non tempor vitae, mattis at
                        tellus. Sed orci metus, hendrerit non odio a, dictum laoreet tellus. Nulla facilisi. Sed luctus
                        neque urna, finibus fringilla enim vestibulum ut.

                        Praesent faucibus sem velit, nec aliquet ex mollis in. Donec vestibulum neque est, nec congue
                        lorem lobortis vitae. Mauris faucibus venenatis nulla in pretium. Vivamus eu semper quam.
                        Maecenas sed suscipit risus. Ut tincidunt ante at pharetra consequat. Proin mi metus, placerat
                        non augue ac, porta sollicitudin velit. Mauris vitae rutrum risus. Nunc dapibus turpis dictum,
                        sagittis turpis id, efficitur libero. Etiam vel bibendum ante. Nullam et sagittis tellus, a
                        imperdiet nunc. Duis et enim at enim ullamcorper sodales.

                        Mauris quis magna non ligula lacinia mattis a eu nibh. Mauris maximus, tortor sit amet facilisis
                        lobortis, elit lacus gravida metus, eget consectetur justo lectus ac nisi. In nisi tortor,
                        ultrices at augue eget, commodo facilisis urna. Praesent pulvinar nibh eros, a aliquam diam
                        varius at. Praesent sed accumsan orci, vitae dapibus leo. In fermentum metus ex, ut gravida
                        felis ultricies non. Morbi leo lacus, aliquam ac consectetur vitae, elementum semper mauris.
                        Donec viverra, odio vitae scelerisque lacinia, ipsum felis laoreet sem, nec efficitur lorem
                        velit in leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        curae; Integer vitae lacus augue. Maecenas eget condimentum neque, et convallis enim. Aliquam
                        cursus dolor vitae purus interdum, lacinia porta risus hendrerit.

                        Phasellus odio ante, semper consectetur suscipit eu, dictum vitae ligula. Nullam ullamcorper
                        lectus erat, sit amet posuere nulla dignissim ut. Morbi nisl neque, mattis nec convallis sit
                        amet, dictum nec ligula. Mauris vehicula semper est ut elementum. Nunc dapibus ipsum non sem
                        aliquam tempor. Nunc viverra posuere nisi, id hendrerit neque facilisis a. Maecenas pulvinar
                        tellus non libero egestas luctus. Integer in diam vitae ipsum maximus tincidunt. Aliquam odio
                        orci, commodo tincidunt turpis ut, dapibus vestibulum est. Quisque euismod elementum risus eget
                        tincidunt.

                        Pellentesque vel dignissim justo. Sed vitae tristique enim. Aliquam luctus purus nec massa
                        rutrum, sit amet molestie lectus laoreet. Donec vel posuere ante, id rutrum felis. Sed vehicula
                        non odio sit amet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras
                        aliquet, libero a luctus malesuada, tellus elit aliquet justo, a porta sapien mi nec lectus.
                        Fusce vulputate nisi purus, a cursus dui volutpat sed. Vivamus eget facilisis purus, at posuere
                        nunc. Praesent tempor enim at ligula laoreet, vitae mattis felis finibus. Nullam id faucibus
                        ipsum, et ultricies ex. Sed a diam nec urna vulputate tempus eget eget nisi. Donec venenatis sit
                        amet felis eget lobortis.</p>
                </div>
                <hr>
                <div class="mb-5">
                    <div class="comments-container">
                        <h1>Comentarios</h1>

                        <ul id="comments-list" class="comments-list">
                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar"><img
                                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                            alt=""></div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name by-author"><a
                                                    href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                                            <span>hace 20 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi
                                            et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                        </div>
                                    </div>
                                </div>
                                <!-- Respuestas de los comentarios -->
                                <ul class="comments-list reply-list">
                                    <li>
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img
                                                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                alt=""></div>
                                        <!-- Contenedor del Comentario -->
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena
                                                        Rojero</a></h6>
                                                <span>hace 10 minutos</span>
                                            </div>
                                            <div class="comment-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis
                                                animi et iure laudantium vitae, praesentium optio, sapiente distinctio
                                                illo?
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img
                                                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                                alt=""></div>
                                        <!-- Contenedor del Comentario -->
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author"><a
                                                        href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                                                <span>hace 10 minutos</span>
                                            </div>
                                            <div class="comment-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis
                                                animi et iure laudantium vitae, praesentium optio, sapiente distinctio
                                                illo?
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar"><img
                                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                            alt=""></div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena
                                                    Rojero</a></h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi
                                            et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h4>Añadir comentario</h4>
                    <form action="">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <a href="#" class="btn btn-info">Comentar</a>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Ultimos post</h3>
                <div class="card mb-3 mt-4" style="max-height: 340px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <a href="#" class="card-link">Card title</a></h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 mt-4" style="max-height: 340px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#" class="card-link">Card title</a></h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 mt-4" style="max-height: 340px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#" class="card-link">Card title</a></h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 mt-4" style="max-height: 340px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../static/img/imagen1.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#" class="card-link">Card title</a></h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>

</html>